header {
  background-color: #333333;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

h1 {
  color: #e4842b;
  text-align: center;
  padding: 10px 0px;
}

button {
  margin-left: 5px;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background-color: #23d18b;
  color: #ffffff;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}